---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/SocialIcons.astro";
---

<a href="https://solvro.pwr.edu.pl" rel="me" class="sl-flex">
  <span class="sr-only">Strona solvro</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-globe"
    ><circle cx="12" cy="12" r="10"></circle><path
      d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path><path
      d="M2 12h20"></path></svg
  >
</a>

<!-- Render the default social links. -->
<Default {...Astro.props}><slot /></Default>

<style>
  a {
    color: var(--sl-color-text-accent);
    margin: -0.5em;
    padding: 0.5em;
  }

  a:hover {
    opacity: 0.66;
  }
</style>
